* {
  font-family: Montserrat;
  margin-left: 0;
}
.page-header-navigation {
  width: 1280px;
}
.page-header-menu {
  text-align: center;
}
.page-header-menu-link {
  color: #ff0000;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 2.7px;
}
.page-header-menu-item {
  list-style: none;
  display: inline-block;
  margin-right: 72px;
}
.image {
  width: 1280px;
  height: 789px;
  left: 0px;
}
.mainly {
  width: 1280px;
}
.page-headline {
  color: #373737;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-top: 48px;
  margin-bottom: 38px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.3px;
}
.page-text {
  color: #373737;
  width: 1145px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  margin-top: 28px;
  padding: 0px 67.5px;
}
.section-btn {
  text-align: center;
  width: 1280px;
}
.button {
  box-sizing: border-box;
  width: 191px;
  text-align: center;
  display: inline-block;
  margin-top: 66px;
  background: #ff0000;
  border-style: solid;
  border-radius: 4px;
  border-color: #ff0000;
  color: #ffffff;
  padding: 17px 40px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.button:hover {
  background-color: #ff004c;
}
.page-footer-copyright {
  box-sizing: border-box;
  width: 1280px;
  margin-top: 42px;
  text-align: right;
  padding-top: 40px;
  padding-right: 105px;
  padding-bottom: 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
}
